PORT=5000
MONGO_URI= mongodb+srv://sih26001clairveil:xFOiyhl1vQndS19F@cluster0.pqgiu4w.mongodb.net/?appName=Cluster0
ML_SERVICE_URL=http://localhost:8000

OPEN_METEO_BASE_URL=https://api.open-meteo.com/v1/forecast
NASA_EARTHDATA_TOKEN=your_token_here

TWILIO_ACCOUNT_SID=your_sid
TWILIO_AUTH_TOKEN=your_token
TWILIO_FROM_NUMBER=+1XXXXXXXXXX
FAST2SMS_API_KEY=your_key

DEMO_POLICE_NUMBER=+91XXXXXXXXXX
DEMO_PUBLIC_TEST_NUMBER=+91XXXXXXXXXX
